*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto Condensed','Helvetica Neue',sans-serif ;
    text-decoration: none;
}

body{ 
    background-image: radial-gradient(circle at 56.16% 120.44%, #3a48e7 0, #2c47df 50%, #183bec 70%);
}

#contenido{
    background-color: #fff;
    width: 400px;
    height: 600px;
    display: grid;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 5px 3px 3px 3px #000;
}

#contenido .imagen{
    margin:auto auto auto 65px;
}

#formulario{
    margin: 5px auto auto 65px;
    width: 500px;
}

#boton{
    margin: 10px auto auto 65px;
    width: 120px;
}